@font-face {
  font-family: btitr;
  src: url('../fonts/BTITR.TTF');
}

@font-face {
  font-family: bnazanin;
  src: url('../fonts/BNAZANIN.TTF');
}

.txt1 {
  font-family: btitr;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: bnazanin;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}